.container{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    height: 650px;
}

.item{
    background-color: darkmagenta;
}

.item7 {
    background-color: blue;
}