.container{
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    height: 650px;
}

.item{
    background-color: rgba(196, 22, 196, 0.889);
}

.item7 {
    background-color: blue;
}

.item1 {

    grid-row-start: 1;
    grid-row-end: 3;
    background-color: gold;

}

.item10 {
    background-color: rgb(46, 242, 235);
}